@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f1f5f9;
}

ul {
  padding-left: 1.5rem;
}

li {
  list-style-type: disc;
}

.gray {
  background-color: #f3f4f6;
}

.red {
  background-color: #fee2e2;
}

.yellow {
  background-color: #fef9c3;
}

.blue {
  background-color: #dbeafe;
}